<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-sm-4">
      <div class="card border-secondary">
        <div class="card-body">
          <h5 class="card-title">Workout Types</h5>
          <p class="card-text">
            Click below button to see workout in-general details.
          </p>
          <a routerLink="/workout/types" class="btn btn-dark">Check</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-secondary">
        <div class="card-body">
          <h5 class="card-title">Workout Plans</h5>
          <p class="card-text">
            Click below button to see workout specific plan details.
          </p>
          <a routerLink="/workout/plans" class="btn btn-dark">Check</a>
        </div>
      </div>
    </div>
  </div>
</div>
