<div class="container-fluid">
  <h2>Breakfast</h2>
  <div class="card border-secondary" *ngFor="let breakfast of breakfastMenu">
    <div class="card-body">
      <div class="media row">
        <img class="col align-self-center" src="{{ breakfast.imageUrl }}" />
        <div class="col-sm-9">
          <h4 class="card-title">{{ breakfast.name }}</h4>
          <div class="card-text">
            <p>{{ breakfast.description }}</p>
            <br />
            <div class="row">
              <div class="col-sm-4">
                <p><b>Carbs:</b> {{ breakfast.carbs }} g</p>
                <p><b>Fat:</b> {{ breakfast.fat }} g</p>
              </div>
              <div class="col-sm-4">
                <p><b>Proteins:</b> {{ breakfast.proteins }} g</p>
                <p><b>Calories:</b> {{ breakfast.calories }} Kcal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
