<div class="container-fluid">
  <button class="btn btn-dark" (click)="sendMail()">
    <img src="../../../assets/Images/reminder.png" alt="reminder" />
    Reminder
  </button>
  <div class="row justify-content-end">
    <div class="col-sm-4">
      <div class="card border-secondary" title="Body weight">
        <div class="card-body">
          <h5 class="card-title">Body weight</h5>
          <p class="card-text">
            A strength exercise is any activity that makes your muscles work
            harder than usual. This increases your muscles' strength, size and
            power. The activities involve working against a resistance.
          </p>
          <a routerLink="/workout/bodyweight" class="btn btn-dark">Start</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-secondary" title="Gym strong">
        <div class="card-body">
          <h5 class="card-title">Gym strong</h5>
          <p class="card-text">
            One is said to be gym strong when someone is strong according to
            weight lifting standards ie when placed into a situation where
            strength is needed for more than three seconds. The activities
            involve more lifting.
          </p>
          <a routerLink="/workout/gymstrong" class="btn btn-dark">Start</a>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="page">
    <h6>Share via:</h6>
    <a
      data-href="http://localhost:4200/workout/plans"
      target="_blank"
      href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.fitt.in%2Fworkout%2Fplans&amp;src=sdkpreparse"
      class="fb-xfbml-parse-ignore"
      ><img src="../../../assets/Images/facebook.png"
    /></a>
    <a
      class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text=Hey,%20checkout%20this%20fitness%20website%20http://localhost:4200/workout/plans"
      target="_blank"
    >
      <img src="../../../assets/Images/twitter.png"
    /></a>
  </div>
</div>
