<div class="container-fluid">
  <br />
  <img
    src="../../../assets/Images/profile.png"
    alt="default profile"
  /><br /><br />
  <label for="email">Email</label>
  <input type="text" class="form-control" disabled [value]="username" /><br />
  <a routerLink="/about">About Us</a><br />
  <a routerLink="/faqs">FAQs</a><br />
  <a routerLink="/contact">Contact</a><br />
  <a href="#">Delete Account</a><br />
  <a href="#">Change Password</a><br />
  <a id="logout" (click)="logout()">Log out</a><br />
</div>
