<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-sm-4">
      <div class="card border-secondary">
        <div class="card-body">
          <h5 class="card-title">Workout</h5>
          <p class="card-text">
            Click below button to see workout types and workout plan details.
          </p>
          <a routerLink="/workout" class="btn btn-dark">Check</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-secondary">
        <div class="card-body">
          <h5 class="card-title">Meals</h5>
          <p class="card-text">
            Click below button to see information related to diet and nutrition.
          </p>
          <a routerLink="/meals" class="btn btn-dark">Check</a>
        </div>
      </div>
    </div>
  </div>
</div>
