<div class="container-fluid">
  <br />
  <input class="form-control input-icon" type="text" placeholder="Search..." />
  <br />
  <div class="card-deck">
    <div class="row">
      <div class="card col-sm border-secondary" title="Endurance">
        <div class="card-body">
          <h5 class="card-title">Endurance</h5>
          <p class="card-text">
            Endurance exercise is an activity that increases your heart rate and
            breath for an extended period. These exercises improve the health of
            your heart, lungs, and circulatory system.
          </p>
          <a routerLink="/workout/endurance" class="btn btn-dark">Start</a>
        </div>
      </div>
      <div class="card col-sm border-secondary" title="Mobility">
        <div class="card-body">
          <h5 class="card-title">Mobility</h5>
          <p class="card-text">
            Mobility refers to your ability to put your arms or legs through a
            range of motion. These exercises can help keep your joints healthy,
            reduce your risk of injury, and keep your body moving pain-free.
          </p>
          <a routerLink="/workout/mobility" class="btn btn-dark">Start</a>
        </div>
      </div>
      <div class="card col-sm border-secondary" title="Strength">
        <div class="card-body">
          <h5 class="card-title">Strength</h5>
          <p class="card-text">
            A strength exercise is any activity that makes your muscles work
            harder than usual. This increases your muscles' strength, size and
            power. The activities involve working against a resistance.
          </p>
          <a routerLink="/workout/strength" class="btn btn-dark">Start</a>
        </div>
      </div>
      <div class="card col-sm border-secondary" title="Yoga">
        <div class="card-body">
          <h5 class="card-title">Yoga</h5>
          <p class="card-text">
            Yoga is an ancient form of exercise that focuses on strength,
            flexibility and breathing to boost physical and mental wellbeing.
            The main components of yoga are postures and breathing.
          </p>
          <a routerLink="/workout/yoga" class="btn btn-dark">Start</a>
        </div>
      </div>
      <div class="card col-sm border-secondary" title="All">
        <div class="card-body">
          <h5 class="card-title">All</h5>
          <p class="card-text">
            This includes exercise for full body to keep one mentally and
            physically fit. It includes a combination of all exercises from
            breathing exercises to strength exercises to maintain physique.
          </p>
          <a routerLink="/workout/all" class="btn btn-dark">Start</a>
        </div>
      </div>
    </div>
    <br />
    <div class="page">
      <h6>Share via:</h6>
      <a
        data-href="http://localhost:4200/workout/types"
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.fitt.in%2Fworkout%2Ftypes&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore"
        ><img src="../../../assets/Images/facebook.png"
      /></a>
      <a
        class="twitter-share-button"
        href="https://twitter.com/intent/tweet?text=Hey,%20checkout%20this%20fitness%20website%20http://localhost:4200/workout/types"
        target="_blank"
      >
        <img src="../../../assets/Images/twitter.png"
      /></a>
    </div>
  </div>
</div>
