.card {
  margin-left: 2%;
}

.form-control {
  width: 40%;
  border-radius: 15px;
}

.input-icon {
  background: url(../../../assets/Images/search.png) no-repeat 100%;
  background-size: 55px;
}

.page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
}

.page > a > img {
  width: 50px;
  height: 50px;
}
